#loginCard
{
    margin-top:-140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 32px;

    position: absolute;
    width: 512px;
    height: 550px;
    // left: 464px;
    top: 233px;

    background: #FFFFFF;
    box-shadow: -1px -1px 4px rgba(33, 43, 54, 0.1), 2px 2px 4px rgba(33, 43, 54, 0.2);
    border-radius: 8px;
}
